.vouchers-container {
    max-width: 1580px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color-2);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}
.table-wrapper{
    overflow-y: auto;
    max-height: 760px;
}


.heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #686868;
}

.table-container {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 8px;
}

.table-container thead {
    background: var(--table-list-head);
}

.table-container th,
.table-container td {
    padding: 16px 20px;
    text-align: left;
    border-bottom: 1px solid var(--table-list-border);
}

.table-container th {
    font-weight: 600;
    color: #ffffff;
}
.table-container tr {
    color: var(--table-tr-color);
}

.table-container tbody tr {
    background-color: var(--table-list-dark-bg);
    transition: background-color 0.3s ease;
}

.table-container tbody tr:nth-child(even) {
    background-color: var(--table-list-light-bg);
}

.table-container tbody tr:hover {
    background-color: var(--table-list-hover-bg);
}

.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.search-form label {
    margin-right: 10px;
    color: #686868;
}

.search-form input {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form button {
    padding: 8px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
}

.search-form button:hover {
    background-color: #0056b3;
}
