.add-voucher-container {
    max-width: 1300px;
    margin: 0 auto;
    background-color: var(--background-color-2);
    padding: 20px;
    border-radius: 8px;
    color: var(--table-tr-color);
}

.add-voucher-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
}

.add-voucher-form button {
    grid-column: 1 / -1;
    justify-self: center;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.add-voucher-form button:hover {
    background-color: #0056b3;
}

/* Komunikat o błędzie */
.error {
    grid-column: 1 / -1;
    color: #ff6b6b;
    margin-top: 10px;
    text-align: center;
}

.add-voucher-form .form-group select {
    background-color: var(--select-bg);
    color: var(--table-tr-color);
    border: 1px solid #444;
}

.add-voucher-form .form-group select:focus {
    outline: none;
    border-color: #007bff;
    background-color: var(--select-bg);
}
