/* components/Navbar.css */
.navbar {
    background-color: var(--background-color-2);
    padding: 20px;
    color: var(--table-tr-color);
    height: 100vh;
}

.navbar h1 {
    margin: 0 0 20px;
    font-size: 1.5rem;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-bottom: 15px;
}

.navbar a {
    color: var(--table-tr-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #f0f0f0;
}

.navbar a.active {
    font-weight: bold;
    border-left: 4px solid #fff;
    padding-left: 10px;
}

.theme-switch input {
    display: none;
}

/* Kontener przełącznika */
.theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Styl suwaka */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-bg);
    transition: background-color 0.4s;
    border-radius: 34px;
}

/* Kropka wewnątrz suwaka */
.slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: var(--toggle-fg);
    transition: transform 0.4s;
    border-radius: 50%;
}

/* Stan włączony */
input:checked + .slider {
    background-color: var(--toggle-bg);
}

input:checked + .slider::before {
    transform: translateX(26px);
}