.navbar {
    background-color: #105dc5;
    padding: 15px;
    color: #e1e1e1;
    height: 100vh;
    border-radius: 8px;
    font-weight: bold;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar {
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar h1 {
    margin: 0 0 20px;
    font-size: 1.5rem;
}

.navbar ul li {
    width: 170px;
    margin-bottom: 10px;
    list-style: none;
}

.navbar a {
    display: block;
    text-align: left;
    padding: 4px;
    color: #e1e1e1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #f0f0f0;
}

.navbar a.active {
    font-weight: bold;
    background-color: #06327a;
    border-radius: 8px;
}

.navbar a.active::before {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -8px;
    right: -8px;
    background-color: #0b0b13;
    border-radius: 4px;
    z-index: -1;
}

.theme-switch input {
    display: none;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-bg);
    transition: background-color 0.4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: var(--toggle-fg);
    transition: transform 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--toggle-bg);
}

input:checked + .slider::before {
    transform: translateX(26px);
}

.hidden-login-button {
    background-color: #105dc5;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 6px;
    text-indent: -9999px; /* Przenosi tekst poza widoczny obszar */
    overflow: hidden;
    cursor: pointer;
}

