*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #efefef;
  --background-color-2: #d8d8d8;
  --foreground-color: #1081f3;
  --primary-text-color: #131313;
  --secondary-text-color: #ededed;
  --toggle-bg: #f6dd97;
  --toggle-fg: #ffc500;
}

[data-theme="dark"] {
  --background-color: #242424;
  --background-color-2: #2c2c2c;
  --foreground-color: #4788d1;
  --primary-text-color: #f3f3f3;
  --secondary-text-color: #373737;
  --toggle-bg: #000a29;
  --toggle-fg: #2a9eea;
}